<!-- build:myportal_show -->
{% extends "../_layout.html" %}
{% assign page = 'myportal_show' %}
{% assign email.attachments.size = 2 %}
{% block main %}
{% assign case = desk.page.content.case %}
<!-- endbuild -->

  <div id="desk-external-variables-myaccount" class="desk-external-variables hide">
    <div id="system-snippets-reply_required">{{system.snippets.message_required}}</div>
    <div id="max_number_attachments">{{desk.system.max_attachments}}</div>
  </div>

  
<!-- build:endblock -->
{% endblock %}
<!-- endbuild -->
