<!doctype html>
<html<% if (includeModernizr) { %> class="no-js"<% } %> lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appname %></title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <% if (includeModernizr) { %>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <% } %>
  </head>
  <body>

{% block main %}
{% endblock %}

<!-- Facebook Like Button -->
<div id="fb-root"></div>
<!-- External Variables for Portal Header -->
<div id="desk-external-variables-header" class="desk-external-variables" style="display:none;">
  <div id="system_language">{{system.language}}</div>
  <div id="results_mobile">{{system.snippets.results_found_for | replace: 'for', '' }}</div>
  <div id="read_only">{{read_only}}</div>
  <div id="system-snippets-do_these_help">{{system.snippets.do_these_help}}</div>
  <div id="site-default_mailbox">{{site.default_mailbox}}</div>
  <div id="desk_javascript_host">{{desk_javascript_host}}</div>
  <div id="twitter_enabled">{{desk.apps.twitter.enabled}}</div>
  <div id="twitter_username">{{desk.apps.twitter.username}}</div>
  <div id="system-snippets-loading">{{system.snippets.loading}}</div>
  <div id="system-snippets-seconds_ago">{{system.snippets.seconds_ago}}</div>
  <div id="system-snippets-a_minute_ago">{{system.snippets.a_minute_ago}}</div>
  <div id="system-snippets-minutes_ago">{{system.snippets.minutes_ago}}</div>
  <div id="system-snippets-an_hour_ago">{{system.snippets.an_hour_ago}}</div>
  <div id="system-snippets-hours_ago">{{system.snippets.hours_ago}}</div>
  <div id="system-snippets-a_day_ago">{{system.snippets.a_day_ago}}</div>
  <div id="system-snippets-days_ago">{{system.snippets.days_ago}}</div>
  <div id="system-snippets-about">{{system.snippets.about}}</div>
  <div id="enable_gs">{{desk.apps.get_satisfaction.enabled}}</div>
  <div id="system-snippets-invalid_characters_found">{{system.snippets.invalid_characters_found}}</div>
  <div id="site-search_autocomplete_articles_url">{{site.search_autocomplete_articles_url}}</div>
  <div id="search-term">{{search_term}}</div>
  <div id="read-article">{{ system.snippets.read_article }}</div>
  {% if desk.apps.get_satisfaction.enabled %}
    <div id="system-snippets-get_satisfaction_error">{{system.snippets.get_satisfaction_error}}</div>
    <div id="system-snippets-view_all">{{system.snippets.view_all}}</div>
    <div id="system-snippets-no_related_discussions">{{system.snippets.no_related_discussions}}</div>
    <div id="system-snippets-related_discussions">{{system.snippets.related_discussions}}</div>
    <div id="zero0">{{0}}</div>
    <div id="system-snippets-discussions">{{system.snippets.discussions}}</div>
    <div id="system-snippets-replies">{{system.snippets.replies}}</div>
    <div id="system-snippets-questions">{{system.snippets.questions}}</div>
    <div id="system-snippets-ideas">{{system.snippets.ideas}}</div>
    <div id="system-snippets-problems">{{system.snippets.problems}}</div>
    <div id="system-snippets-praise">{{system.snippets.praise}}</div>
  {% endif %}
</div>
<div id="ThemeOptions" class="hidden" style="display:none;">
  <div id="header_text">{{desk.page.theme.hdr-text-color}}</div>
  <div id="current-page">{{ page }}</div>
  <div id="brand_id">{{ desk.current_brand.id }}</div>
  <div id="site-brands">
    {% for brand in desk.brands %}
       <div id="{{brand.id}}">{{brand.name}}</div>
    {% endfor %}
  </div>
  {% if SkipPreCreate == true %}
    <div id="SkipPreCreate">true</div>
  {% endif %}
  {% if MBSearchPage == true %}
    <div id="MBSearchPage">true</div>
    <div id="results-count">{{ number_search_results }}</div>
  {% endif %}
  {% if MBSearchSuggest == true %}
    <div id="MBSearchSuggest">true</div>
  {% endif %}
  {% if MBArticleSuggest == true %}
    <div id="MBArticleSuggest">true</div>
  {% endif %}
  {% if responsiveImages == true %}
    <div id="responsiveImages">true</div>
  {% endif %}
</div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="scripts/portal-reqs.js"></script>
    <script src="scripts/desk.portal.js"></script>
    <!-- endbuild -->
  </body>
</html>
