<!-- build:myportal_index -->
{% extends "../_layout.html" %}
{% assign page = 'myportal_index' %}
{% assign desk.page.content.form = "<form accept-charset='UTF-8' action='/customer/registrations' method='post' novalidate='novalidate'><div style='margin:0;padding:0;display:inline'><input name='utf8' type='hidden' value='✓'><input name='authenticity_token' type='hidden' value='INY+d0Nc5eu0DcqQ7aLr3wmShSotRr4twIgCKCBWrbk='></div> <div class='field'> <label for='email'>Email</label> <input id='email' maxlength='50' name='email' type='text' class='invalid'><label for='email' generated='true' class='invalid'>Email address is required.</label> </div> <div class='input-button actions'><input id='registration_submit' name='commit' type='submit' value='Send Instructions'></div> </form>" %}
{% block main %}
<!-- endbuild -->

<div id="registration-in-progress" class="hide">
  <img alt='Ajax-loader-small' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' />
  {{desk.system.snippets.registration_in_progress}}
</div>
<div id="content">
  <div class="container myportal index">
    <div class="row">
      <div class="col-md-12">
        <div class="header row">
          <div class="col-md-12">
            <!-- <h2>{{desk.system.snippets.my_cases}}</h2> -->
            <ul class="case-menu">
              <li>
                <select id="CaseFilter" class="form-control">
                  <option value="my">{{desk.system.snippets.show_my_cases}}</option>
                  {% if desk.customer.can_access_company_tickets? %}
                  <option value="company" selected="selected">{{desk.system.snippets.show_all_cases}}</option>
                  {% endif %}
                  <option value="7">{{desk.system.snippets.show_last_num_days | format_snippet: '"num":"7"' }}</option>
                  <option value="30">{{desk.system.snippets.show_last_num_days | format_snippet: '"num":"30"' }}</option>
                </select>
              </li>
              <li>
                <label class="checkbox">
                  <input class="checkbox" id="ActiveOnly" type="checkbox" name="checkbox"></input>
                  <span></span>
                </label>
                <label for="checkbox">{{desk.system.snippets.active_only}}</label>
              </li>
              {% if site.email_enabled_config %}
                <li class="new"><a href="{{desk.system.links.email}}" class="button">{{desk.system.snippets.create_new_case}}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="body row">
          <div class="col-md-12">
            <table id="MyCases" class="table table-striped table-hover {% if MyCasesSort == true %} sort {% endif %}">
              <thead>
                <tr>
                  <th><span>{{desk.system.snippets.case_id}}</span></th>
                  <th class="hidden-xs"><span>{{desk.system.snippets.assigned_agent}}</span></th>
                  <th><span>{{desk.system.snippets.subject}}</span></th>
                  {% if desk.customer.can_access_company_tickets? %}
                  <th class="hidden-xs"><span>{{desk.system.snippets.from}}</span></th>
                  {% endif %}
                  <th class="hidden-xs"><span>{{desk.system.snippets.updated}}</span></th>
                  <th class="hidden-xs"><span>{{desk.system.snippets.status}}</span></th>
                </tr>
              </thead>
              <tbody>
                {% for case in desk.page.content.cases %}
                <tr>
                  <td class='a-caseid'>{{ case.id }}</td>
                  <td class="hidden-xs"><span>{{case.user.name_public | show_something: desk.system.snippets.unassigned}}</span></td>
                  <td class='a-casesubject'><img src='{{ case.channel_icon }}'/><a href="{{ case.portal_url }}">{{ case.subject | clip:30 }}</a></td>
                  {% if desk.customer.can_access_company_tickets? %}
                  <td class='a-casefrom hidden-xs'>{{case.customer.first_name}}</td>
                  {% endif %}
                  <td class='a-casecreated hidden-xs'>{{ case.updated_at | in_time_zone: site.timezone | date: '%b %d %Y' }}</td>
                  <td class='a-casestatus hidden-xs'>{% case case.status.id %}
                    {% when 10 %}
                    {{desk.system.snippets.case_new}}
                    {% when 30 %}
                    {{desk.system.snippets.case_open}}
                    {% when 50 %}
                    {{desk.system.snippets.case_pending}}
                    {% when 70 %}
                    {{desk.system.snippets.case_resolved}}
                    {% when 90 %}
                    {{desk.system.snippets.case_closed}}
                    {% endcase %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div id='pagination'>
              {{ desk.page.content.more_cases_block }}
            </div>
          </div>
        </div><!-- .row -->
      </div>
    </div><!-- .row-->
  </div><!-- .portal-->
</div><!-- #content -->
{% if MyCasesSort == true %}
  <input id="MyCaseSort" class="hidden" value="true" />
{% endif %}



<!-- build:endblock -->
{% endblock %}
<!-- endbuild -->
