<!-- build:question_show -->
{% extends "../_layout.html" %}
{% assign page = 'question_show' %}
{% block main %}
{% assign customer_answer_count = question.answers_customer_count %}
{% assign agent_answer_count = question.answers_agent_count %}
{% assign answers_count = question.answers_count %}
{% assign best_answer = question.best_answer %}
<!-- endbuild -->

        <div id="desk-external-variables-question_show" class="desk-external-variables hide">
          <div id="system-snippets-just_moderated">{{just_moderated}}</div>
          <div id="system-snippets-name_required">{{system.snippets.name_required}}</div>
          <div id="system-snippets-email_required">{{system.snippets.email_required}}</div>
          <div id="system-snippets-invalid_email">{{system.snippets.invalid_email}}</div>
          <div id="system-snippets-answer_required">{{system.snippets.answer_required}}</div>
          <div id="system-snippets-exceeding_max_chars">{{system.snippets.exceeding_max_chars}}</div>
        </div>
        {% assign customer_answer_count = question.answers_customer_count %}
        {% assign agent_answer_count = question.answers_agent_count %}
        {% assign answers_count = question.answers_count %}
        {% assign best_answer = question.best_answer %}
        <div id="content">
          <div class="container qna">
            <div class="row">
              <div class="col-md-8 {% if desk.page.theme.layout != 'left' %} col-md-push-4 {% endif %}">
                <!-- THE QUESTION -->
                <div class="row header question">
                    <div class="col-md-1">
                      <span class="gravatar">
                        {{ question.from_email | gravatar_image: gravatar_unknown_user, ssl }}
                      </span>
                    </div>
                    <div class="col-md-11">
                      <h2>{{ question.subject }}</h2>
                      <h3 class="meta">{{ question.from_name }} &mdash; {{ question.created_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }} </h3>
                    </div>
                </div>
                <div class="row body question">
                  <div class="col-md-12">
                     <p>{{ question.body }}</p>
                     <hr>
                  </div>
                </div><!-- THE QUESTION -->
                {% if best_answer != nil %}
                    <div class="row header answer">
                      <div class="col-md-12">
                        <h2>
                          {{ answers_count }}
                          {{ system.snippets.community_answer | pluralize: answer_count, system.snippets.community_answers }}
                        </h2>
                      </div>
                    </div>

                    <div class="row body answer best">
                      <div class="col-md-1">
                        <span class="gravatar">
                          {{ best_answer.from_email | gravatar_image: gravatar_unknown_user,  ssl }}
                        </span>
                      </div>
                      <div  class="col-md-11">
                        <h3>
                          {{ best_answer.from_name }}
                          - <small>
                            {{ best_answer.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}
                          </small>
                          <span class="best">{{system.snippets.best_answer}}</span>
                        </h3>
                          <p>{{ best_answer.body }}</p>

                          {% if question.answers_count > 1 %}
                          <hr />
                          <a href="#bestanswer">{{system.snippets.view_conversation}}</a>
                          {% endif %}

                      </div>
                    </div>
                {% endif %}
                {% if question.non_best_answers_exist %}
                  {% if best_answer == nil %}
                    <div class="row header answer">
                      <div class="col-md-12">
                        <h2>
                          {{ answers_count }}
                          {{ system.snippets.community_answer | pluralize: answer_count, system.snippets.community_answers }}
                        </h2>
                      </div>
                    </div>
                  {% endif %}
                  {% for answer in question.answers %}
                      <div class="row body answer">
                        <div class="col-md-1">
                          <span class="gravatar">
                            {{ answer.from_email | gravatar_image: gravatar_unknown_user,  ssl }}
                          </span>
                        </div>
                        <div class="col-md-11">
                          <h3>
                            {{ answer.from_name }}<small class="muted"> - {{ answer.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y at %I:%M%p %Z' }}</small>
                          </h3>
                          {% if answer.agent? %}
                            <h4><span class="label muted">{{ site.company_name }} {{ site.agent_name_config }}</span></h4>
                          {% endif %}
                          <p>{{ answer.body }}</p>
                            {% if question.answers_count > 1 %}
                            <!--
                            <a href="#best-answer-conversation">{{system.snippets.view_conversation}}</a>
                            -->
                            {% endif %}
                            {% if current_user == answer.user %}
                              <div class='answer-rating rating-true'>
                                <div>
                                  <span class='score {% if answer.rating_value > 0 %}score-positive{% elsif answer.rating_value < 0 %}score-negative{% endif %}' id='score-{{answer.id}}'>{{ answer.rating_value }}</span>
                                  <span class='dialog'>{{system.snippets.score}}</span>
                                </div>
                              </div>
                            {% else %}
                              <div class='answer-rating rating-{{ answer | already_rated_by_user: current_user }}'>
                                <div>
                                  <span class='dialog'>{{system.snippets.rated}} : </span>
                                  <span class='score {% if answer.rating_value > 0 %}score-positive{% elsif answer.rating_value < 0 %}score-negative{% endif %}' id='score-{{answer.id}}'>{{ answer.rating_value }}</span>
                                  {{ answer | already_rated_up: current_user }}
                                  {{ answer | already_rated_down: current_user }}
                                </div>
                              </div>
                            {% endif %}
                            <hr />
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                  <div class="reply row">
                    {% if question.allow_answers? != true or question.case.closed? %}
                      <div class="alert">{{system.snippets.question_closed}}</div>
                    {% else %}
                      <h2>{{system.snippets.post_public_answer}}</h2>
                      {{ form_begin }}
                      <div class="form panel panel-default">
                        <div class="panel-footer no-body ">
                          {% if current_user == nil or current_user.is_guest %}
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="interaction_name">{{system.snippets.your_name}} <span class="muted">({{system.snippets.required}})</span></label>
                                    <input id="interaction_name" maxlength="100" class="form-control" name="interaction[name]" value="{{ interaction.name }}" type="text" />
                                 </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="interaction_email">{{system.snippets.your_email}} <span class="muted">({{system.snippets.required}})</span></label>
                                  <input id="interaction_email" class="form-control" maxlength="100" name="interaction[email]" value="{{ interaction.email }}" type="text" />
                                </div>
                              </div>
                            </div>
                          {% endif %}
                          <div class="form-group">
                            <label for="qna_body">{{system.snippets.answer}} <span class="muted">({{system.snippets.required}})</span></label>
                            <textarea cols="40" id="qna_body" class="form-control" name="qna[body]" rows="6">{{ qna.body }}</textarea>
                          </div>
                          <div class="input-button">
                            <input id="answer_submit" class="btn btn-submit" name="commit" type="submit" value="{{system.snippets.post_answer}}" />
                          </div>
                        </div>
                      </div>
                      {{ form_end }}
                    {% endif %}
                  </div>
              </div><!-- 8 col-->
            {{ sidebar_main }}
            </div><!--ROW-->
          </div><!--Container-->
        </div><!--Content-->

<!-- build:endblock -->
{% endblock %}
<!-- endbuild -->
