{% extends "../_layout.html" %}
{% assign page = 'registration' %}
{% assign desk.page.content.form = "<form accept-charset='UTF-8' action='/customer/registrations' method='post' novalidate='novalidate'><div style='margin:0;padding:0;display:inline'><input name='utf8' type='hidden' value='✓'><input name='authenticity_token' type='hidden' value='INY+d0Nc5eu0DcqQ7aLr3wmShSotRr4twIgCKCBWrbk='></div> <div class='field'> <label for='email'>Email</label> <input id='email' maxlength='50' name='email' type='text' class='invalid'><label for='email' generated='true' class='invalid'>Email address is required.</label> </div> <div class='input-button actions'><input id='registration_submit' name='commit' type='submit' value='Send Instructions'></div> </form>" %}
{% block main %}
<div id="desk-external-variables-registration" class="desk-external-variables hide">
    <div id="system-snippets-email_required">{{system.snippets.email_required}}</div>
    <div id="system-snippets-invalid_email">{{system.snippets.invalid_email}}</div>
</div>
<div id="content">
    <div class="container register">
        <div class="row">
            <div class="columns medium-6 medium-offset-3">
                <div id="desk-external-variables-myportal_show" class="desk-external-variables hide">
                    <div id="system-snippets-email_required" class="">
                        <p class="error">{{system.snippets.email_required}}</p>
                    </div>
                    <div id="system-snippets-invalid_email" class="alert hide">{{system.snippets.invalid_email}}</div>
                    <div id="system-snippets-password_required" class="alert hide">{{system.snippets.password_required}}</div>
                </div>
                <div class="panel panel-default form login">
                    <div class="panel-body">
                        <h2 class="text-center">{{desk.system.snippets.registration_title}}</h2>
                        <div id='form' class='registration-form clearfix'>
                            {{desk.page.content.form}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- build:endblock -->
{% endblock %}
<!-- endbuild -->
